// Body
$body-bg: #EBEBEB;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gray: #636b6f;
$violet: #58355E;
$red: #f37777;
$white: #FFFFFF;
$black: #252627;
